<div class="container">
  <section class="main-content">
    <div class="panel">
      <h1>Main Title</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Risus sed vulputate odio ut enim. Sit amet porttitor eget dolor morbi non arcu. Quis enim lobortis scelerisque fermentum dui faucibus. Elementum pulvinar etiam non quam lacus. Consectetur adipiscing elit pellentesque habitant. Mattis enim ut tellus elementum sagittis vitae. Vitae purus faucibus ornare suspendisse sed nisi lacus. Phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim. Et sollicitudin ac orci phasellus egestas. Sed elementum tempus egestas sed sed.</p>
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/laptop001.jpg" alt="laptop">
      <p>Ipsum a arcu cursus vitae. Quisque non tellus orci ac auctor augue mauris. Pellentesque diam volutpat commodo sed. At ultrices mi tempus imperdiet nulla malesuada. Tincidunt vitae semper quis lectus. Massa tempor nec feugiat nisl. Ut tellus elementum sagittis vitae. Dui faucibus in ornare quam viverra orci sagittis eu. Donec massa sapien faucibus et molestie ac. Odio tempor orci dapibus ultrices. Urna porttitor rhoncus dolor purus non enim praesent elementum facilisis. Tincidunt lobortis feugiat vivamus at augue eget arcu dictum. Quis varius quam quisque id diam vel quam.</p>
    </div>
  </section>
</div>
